@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy);

body {
    font-size: 150%;
    font-family: Libre Baskerville;
}

div h1 {
    text-align: center;
}

p {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

ul {
    list-style-position: inside;
}

li {
    font-family: serif;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
}
